@font-face {
  font-family: DinPro;
  src: url(../fonts/DINPro-Cond.otf);
  font-weight: 400;
}

@font-face {
  font-family: DinPro;
  src: url(../fonts/DINPro-CondBlack.otf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

* {
  box-sizing: border-box;
  //border: 1px solid red;

}

body {
  font-family: DinPro, Arial sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 786px;
  background: #152938;
  display: flex;
  flex-direction: column;

  .top-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .kingsly-logo {
      display: flex;
      align-items: center;

      img {
        width: 77px;
        height: 50px;
      }

      a {
        display: flex;
        flex-direction: column;
        color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 900;
        margin-left: 7px;
        cursor: pointer;
        transition: all, 0.5s;

        span {
          font-size: 13px;
          font-weight: 400;
        }

        &:hover {
          color: #02f1f3;
        }
      }
    }

    .order-call {
      display: flex;

      .order-call__img {
        width: 41px;
        height: 40px;
      }

      .order-call__link {
        display: flex;
        flex-direction: column;
        margin-left: 12px;

        span {
          font-family: Roboto;
          font-size: 18px;
          font-weight: 300;
          color: #fff;
        }

        a {
          font-size: 19px;
          font-weight: 900;
          color: #02f1f3;
          text-transform: uppercase;
          transition: all, 0.3s;

          &:hover {
            color: darken(#02f1f3, 20%);
          }
        }
      }
    }
  }
}
