@font-face {
  font-family: DinPro;
  src: url(../fonts/DINPro-Cond.otf);
  font-weight: 400;
}

@font-face {
  font-family: DinPro;
  src: url(../fonts/DINPro-CondBlack.otf);
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

body {
  font-family: DinPro, Arial sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 786px;
  background: #152938;
  display: flex;
  flex-direction: column;
  position: relative;
}

header .top-header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

header .top-header .kingsly-logo {
  display: flex;
  align-items: center;
}

header .top-header .kingsly-logo img {
  width: 77px;
  height: 50px;
}

header .top-header .kingsly-logo a {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  margin-left: 7px;
  cursor: pointer;
  transition: all, 0.5s;
}

header .top-header .kingsly-logo a span {
  font-size: 13px;
  font-weight: 400;
}

header .top-header .kingsly-logo a:hover {
  color: #02f1f3;
}

header .top-header .order-call {
  display: flex;
  align-items: center;
}

header .top-header .order-call .order-call__img {
  width: 41px;
  height: 40px;
}

header .top-header .order-call .order-call__link {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

header .top-header .order-call .order-call__link span {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

header .top-header .order-call .order-call__link a {
  font-size: 19px;
  font-weight: 900;
  color: #02f1f3;
  text-transform: uppercase;
  transition: all, 0.3s;
}

header .top-header .order-call .order-call__link a:hover {
  color: #018d8e;
}

header h1 {
  margin: 0;
  margin-top: 140px;
  font-size: 59px;
  font-weight: 900;
  color: #fff;
  width: 50%;
  text-transform: uppercase;
  margin-bottom: 0;
}

header .divider {
  width: 83px;
  margin-top: -5px;
  transform: translateX(-10px);
}

header h3 {
  margin: 0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  width: 40%;
}

header .download-presentation {
  margin-top: 35px;
  margin-left: 5px;
  position: relative;
  width: 300px;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .download-presentation img {
  position: absolute;
}

header .download-presentation a {
  z-index: 10;
  font-size: 19px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all, 0.3s;
}

header .download-presentation a:hover {
  color: #90fdfe;
}

header .look-portfolio {
  position: absolute;
  transform: rotate(-90deg);
  bottom: 77px;
  right: -77px;
  font-size: 19px;
  font-weight: 900;
  color: #0debf3;
  text-transform: uppercase;
  transition: all, 0.3s;
}

header .look-portfolio i {
  margin-right: 5px;
}

header .look-portfolio:hover {
  color: #018d8e;
}

header .lion {
  position: absolute;
  bottom: -43px;
  right: -33px;
}

header .triangles {
  position: absolute;
  width: 100%;
}

header .color-triangle {
  transform: translateY(100px);
}
